* {
    padding: 0;
    margin: 0;
}
#canvas {
    width: var(--CANVAS_WIGHT);
    height: var(--CANVAS_HEIGHT);
}
.line {
    display: flex;
}
.pixel {
    width: var(--PIXEL_SIZE);
    aspect-ratio: 1;
    cursor: pointer;
}
.pixel:hover {
    background-color: #000;
}